to chang the color in css cod 
    color: ;

select the background color
    background-color:color;

to chang size of text
    font-size: 
    font-size: large
    font-size: larger
(Specific measurements)
or
with pixles
    font-size: px
(infnity)
or 
with cm 
font-size:cm 

To change the font type
 font-family:  

margin-top: ;
margin-right: ;
margin-left: ;
margin-bottom: ;

text-align:right;
text-align:left;
text-align:center;

padding-left: ;
        right 
        top
        bottom

border-color : ;

border-top-color: ;
border-right-color: ;
border-bottom-color: ;
border-left-color: ;

border-style: ;
border-top-style: ;
border-right-style: ;
border-bottom-style: ;
border-left-style: ;

icons link:
<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>


transition: ;
.__:hover{}
ex:

.bb{
    transition:all 1000ms ease 0ms ;
    background-color: brown;
    color: white;
}

.bb:hover{
    background-color: yellowgreen;
    color: black;

}
----- 
The degree of curvature.
border-radius: 10px;

line line
style="display:inline-flex ;"





























































