to chang the color in css cod 
    color: ;

select the background color
    background-color:color;

to chang size of text
    font-size: 
    font-size: large
    font-size: larger
(Specific measurements)
or
with pixles
    font-size: px
(infnity)
or 
with cm 
font-size:cm 

To change the font type
 font-family:  

margin-top: ;
margin-right: ;
margin-left: ;
margin-bottom: ;

text-align:right;
text-align:left;
text-align:center;





























































